# Shopify OAuth & API Config
SHOPIFY_CLIENT_ID=5144661590b6f29869cd1cdae3248074
SHOPIFY_CLIENT_SECRET=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
SHOPIFY_SHOP_DOMAIN=earnings.ink

# Tidio Public Integration Key
VITE_TIDIO_PUBLIC_KEY=

# Gemini API Key
GEMINI_API_KEY=
