SHARED_APP_URL=
GEMINI_API_KEY=
SOLSCAN_API_KEY=
TELEGRAM_BOT_USERNAME=
TELEGRAM_BOT_TOKEN=
EXTERNAL_TRANSACTION_API_KEY=
ADSGRAM_API_KEY=
ADSGRAM_BLOCK_ID=
TON_AGGREGATOR_CONTRACT_ADDRESS=
TON_AD_REVENUE_AGGREGATOR_SECRET=
TON_DISTRIBUTION_CONTRACT_ADDRESS=
TON_PAYOUT_DISTRIBUTION_SECRET=
TON_USDT_JETTON_MASTER=
TELEGRAM_MINIAPP_URL=
MASTER_ADMIN_PASSWORD=
